[FORMAT]
good-names=e,f,i,x,s
max-locals=20

[MESSAGES CONTROL]
disable=
    fixme,
    invalid-name,
    duplicate-code,
    missing-docstring,
    protected-access,
    abstract-method,
    wrong-import-position,
    catching-non-exception,
    cell-var-from-loop,
    locally-disabled,
		raise-missing-from,
    invalid-sequence-index,  # pylint doesn't like things like `Tuple[int, bytes]` in type annotation
